{% extends 'layouts/common.twig' %}

{% block content %}
	<h2 class="page-header">{{ model.name|default('Добавить самосвал') }}</h2>

	{% set form = this.beginWidget('CActiveForm') %}
	<div class="row">
		<div class="col-sm-4">
			{{ include('common/form/text.twig', { form: form, model: model, field: 'name' }) }}
			{{ include('common/form/text.twig', { form: form, model: model, field: 'regNumber' }) }}
			{{ include('common/form/text.twig', { form: form, model: model, field: 'volume', htmlOptions: {'class': 'form-control js-replace-comma'} }) }}
			{{ include('common/form/text.twig', { form: form, model: model, field: 'chassisCount' }) }}
			{{ include('common/form/text.twig', { form: form, model: model, field: 'bodyLength', htmlOptions: {'class': 'form-control js-replace-comma'} }) }}
			{{ include('common/form/text.twig', { form: form, model: model, field: 'bodyWidth', htmlOptions: {'class': 'form-control js-replace-comma'} }) }}

			{{ include('common/form/submit.twig', { form: form, model: model, text: 'Сохранить',
				htmlAdditional: '&nbsp;<a class="btn" href="' ~ this.createUrl('index') ~ '">К списку</a>' }) }}
		</div>
	</div>
	{% do this.endWidget() %}
{% endblock %}

{% block scripts %}
	{{ include('common/notifier.twig', {flash: flash}) }}
{% endblock %}
