{% extends 'layouts/common.twig' %}

{% block content %}
	<div class="form-group">
		<a class="btn btn-lg btn-success" href="{{ this.createUrl('tipper/add') }}">Добавить</a>
	</div>

	{% if models|length %}
		<form action="" class="row post-y-2">
			<div class="col-sm-4">
				<div class="form-group">
					<input class="form-control" type="text" name="filter[name]" id="" value="{{ filter['name'] }}"
						   placeholder="{{ models[0].getAttributeLabel('name') }}">
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<input class="form-control" type="text" name="filter[regNumber]" id="" value="{{ filter['regNumber'] }}"
						   placeholder="{{ models[0].getAttributeLabel('regNumber') }}">
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<input class="form-control js-replace-comma" type="text" name="filter[volume]" id="" value="{{ filter['volume'] }}"
						   placeholder="{{ models[0].getAttributeLabel('volume') }}">
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<input class="form-control" type="text" name="filter[chassisCount]" id="" value="{{ filter['chassisCount'] }}"
						   placeholder="{{ models[0].getAttributeLabel('chassisCount') }}">
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<input class="form-control js-replace-comma" type="text" name="filter[bodyLength]" id="" value="{{ filter['bodyLength'] }}"
						   placeholder="{{ models[0].getAttributeLabel('bodyLength') }}">
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<input class="form-control js-replace-comma" type="text" name="filter[bodyWidth]" id="" value="{{ filter['bodyWidth'] }}"
						   placeholder="{{ models[0].getAttributeLabel('bodyWidth') }}">
				</div>
			</div>
			<div class="col-sm-4">
				<button class="btn btn-primary" type="submit">Найти</button>
				<a class="btn btn-danger" href="{{ this.createUrl('index') }}">Сбросить</a>
			</div>
		</form>

		<table class="table table-striped">
			<thead>
			<tr>
				<th style="width: 16%;">{{ models[0].getAttributeLabel('id') }}</th>
				<th>{{ models[0].getAttributeLabel('name') }}</th>
				<th>{{ models[0].getAttributeLabel('regNumber') }}</th>
				<th>{{ models[0].getAttributeLabel('volume') }}</th>
				<th>{{ models[0].getAttributeLabel('chassisCount') }}</th>
				<th>{{ models[0].getAttributeLabel('bodyLength') }}</th>
				<th>{{ models[0].getAttributeLabel('bodyWidth') }}</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			{% for model in models %}
				<tr>
					<td>{{ model.id }}</td>
					<td><a href="{{ this.createUrl('edit', {'id': model.id}) }}">{{ model.name }}</a></td>
					<td>{{ model.regNumber }}</td>
					<td>{{ model.volume }}</td>
					<td>{{ model.chassisCount }}</td>
					<td>{{ model.bodyLength }}</td>
					<td>{{ model.bodyWidth }}</td>
					<td>
						<button class="btn btn-danger js-delete-row"
								data-url="{{ this.createUrl('ajax/deleteModel', {id: model.id, model: 'tipper'}) }}">
							удалить
						</button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ this.createUrl('ajax/getTipperExcel', {filter: filter}) }}">Экспорт в Excel</a>
	{% endif %}
{% endblock %}