{% extends 'layouts/clear.twig' %}

{% block content %}
	<div class="row">
		{% set cols = 12 // cements|keys|length %}

		{% for city, cementsByCity in cements %}
			<div class="col-sm-{{ cols }} t-C">
				<h4>{{ city }}</h4>

				<div class="">
					{% set cityTotalCement = 0 %}
					{% for cement in cementsByCity %}
						{% set percent = cement.getPercentageSilageValue() * 100 %}
						{% set cityTotalCement = cityTotalCement + cement.attributes['remains'] %}

						<div class="silage">
							<div class="silage__scale">
								<div class="silage__level" style="height: {{ percent }}%;"></div>
							</div>

							{{ percent }}%
							<hr class="silage__separator">
							{{ cement.attributes['remains']|default(0) }} т
						</div>
					{% endfor %}
					<div class="t-C post-y-1">
						<strong>Всего: {{ cityTotalCement }} т</strong>
					</div>
				</div>

				{% if App.user.checkAccess(constant('WebUser::ROLE_LOGISTICIAN')) and city == 'Владивосток' or App.user.checkAccess(constant('WebUser::ROLE_KHAB_CEMENT_MANAGER')) and city != 'Владивосток' %}
				<div class="form-group">
					<select class="form-control js-select-toggle">
						<option value="">№ силоса</option>
						{% for cement in cementsByCity %}
							<option value="{{ city }}-{{ loop.index }}">{{ loop.index }}</option>
						{% endfor %}
					</select>
				</div>
				{% endif %}

				{% for cement in cementsByCity %}
					{% set id = cement.isNewRecord? '': cement.id %}

					<div data-id="{{ city }}-{{ loop.index }}" class="js-select-toggle-content" style="display: none;">
						{% set form = this.beginWidget('CActiveForm', {htmlOptions: {class: 'js-ajax-submit', 'data-callback': 'refreshTable'}}) %}

						{{ include('common/form/hidden.twig', { form: form, model: cement, field: id? '['~id~']city': 'city', htmlOptions: {value: city} }) }}
						{{ include('common/form/hidden.twig', { form: form, model: cement, field: id? '['~id~']silage': 'silage', htmlOptions: {value: loop.index} }) }}

						{{ include('common/form/hidden.twig', { form: form, model: cement, field: id? '['~id~']date': 'date', htmlOptions: {value: App.request.getParam('date')} }) }}

						{{ include('common/form/select.twig', { form: form, model: cement, dataList: drivers, field: id? '['~id~']driverId': 'driverId', htmlOptions: {empty: 'Водитель'} }) }}
						{{ include('common/form/text.twig', { form: form, model: cement, field: (id? '['~id~']outgo': 'outgo'), htmlOptions: {placeholder: cement.getAttributeLabel('outgo'), class: 'js-replace-comma form-control'} }) }}

						{#{{ include('common/form/text.twig', { form: form, model: cement, field: (id? '['~id~']incoming': 'incoming'), htmlOptions: {class: 'js-replace-comma form-control'} }) }}#}
						<div class="row">
							<div class="col-sm-6">
								{{ include('common/form/text.twig', { form: form, model: cement, field: (id? '['~id~']overhead': 'overhead'), htmlOptions: {placeholder: cement.getAttributeLabel('overhead'), class: 'js-replace-comma form-control'} }) }}
							</div>
							<div class="col-sm-6">
								{{ include('common/form/text.twig', { form: form, model: cement, field: (id? '['~id~']fake': 'fake'), htmlOptions: {placeholder: cement.getAttributeLabel('fake'), class: 'js-replace-comma form-control'} }) }}
							</div>
						</div>

						{#{{ include('common/form/text.twig', { form: form, model: cement, field: (id? '['~id~']difference': 'difference'), htmlOptions: {placeholder: cement.getAttributeLabel('difference'), class: 'js-replace-comma form-control'} }) }}#}

						{{ include('common/form/checkbox.twig', { form: form, model: cement, field: (id? '['~id~']highlight': 'highlight'), htmlOptions: {label: cement.getAttributeLabel('highlight')} }) }}

						<div class="checkbox">
							<label>
								<input type="hidden" value="0" name="Cement{{ id? '['~id~'][isEmpty]': '[isEmpty]' }}">
								<input name="Cement{{ id? '['~id~'][isEmpty]': '[isEmpty]' }}" type="checkbox" value="1">
								Силос кончился
							</label>
						</div>

						<div class="form-group">
							<button class="btn btn-primary">Сохранить</button>
						</div>

						{% do this.endWidget() %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

	<h2>Остаток на "Спасск-цементе": <span class="js-cement-remains">{{ cementRemains }}</span> т</h2>
	{% if App.user.checkAccess(constant('WebUser::ROLE_CEMENT_MANAGER')) %}
	<div class="form-group row">
		<div class="col-sm-3">
			<input type="text" id="cement-remains" class="form-control js-change-cement-remains" placeholder="Новое значение">
		</div>
		<div class="col-sm-3">
			<button class="btn btn-primary js-ajax-link" data-callback="changeCementRemainsValue" data-url="{{ this.createUrl('ajax/changeCementRemains') }}">Изменить</button>
		</div>
	</div>
	{% endif %}

{# 	{% if App.user.checkAccess(constant('WebUser::ROLE_CEMENT_MANAGER')) or App.user.role == constant('WebUser::ROLE_USER') %} #}
	<h2>Экспорт таблицы</h2>
	<div class="row form-group">
		<div class="col-sm-4">
			<select id="url-select" class="form-control">
				<option value="">Завод</option>

				{% for i, city in cities %}
					<option value="{{ this.createUrl('ajax/getCementExcel', {city: city}) }}">{{ city }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<button class="btn btn-primary js-url-click" data-target="#url-select">Экспорт в Excel</button>
{#	{% endif %} #}

	{# Форма по периоду #}
	<form action="{{ this.createUrl('ajax/getCementExcelByPeriod') }}" target="_blank">
		<h2>Экспорт по периоду</h2>

		<div class="row form-group">
			<div class="col-sm-4">
				<input type="text" name="dateFrom" class="form-control js-datepicker" placeholder="период с">
			</div>
			<div class="col-sm-4">
				<input type="text" name="dateTo" class="form-control js-datepicker" placeholder="период по">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-4">
				<select name="driverId" class="form-control">
					<option value="0">Все водители</option>

					{% for id, driver in drivers %}
						<option value="{{ id }}">{{ driver }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-4">
				<select name="city" class="form-control">
					<option value="">Все города</option>

					{% for i, city in cities %}
						<option value="{{ city }}">{{ city }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<button class="btn btn-primary" data-target="#url-select">Экспорт в Excel</button>
		{% include('common/js-datepicker.twig') %}
		<script>
			window.initDatepicker();
		</script>
	</form>
{% endblock %}
