{% extends 'layouts/clear.twig' %}

{% block content %}
	<h2>Заявки на выбранное время</h2>

	<table class="table order-table">
		<tr>
			<td>Дата</td>
			<td>Время</td>
			<td>Тип, марка</td>
			<td>Добавка</td>
			<td>Отгружено/<br/>Заявка</td>
			<td>Заказчик</td>
			<td></td>
		</tr>

		{% for ordersByTime in orders %}
			{% for order in ordersByTime %}
				{% set customer = order['customer'] %}

				{% if order['status'] == constant('ActiveRecord::STATUS_IN_PROGRESS') %}
					{% set trClass = 'active' %}
				{% elseif order['status'] == constant('ActiveRecord::STATUS_COMPLETED') %}
					{% set trClass = '' %}
				{% else %}
					{% set trClass = 'danger' %}
				{% endif %}

				<tr class="{{ trClass }}">
					<td>
						{{ order['date'] }}
						{% if App.user.checkAccess(constant('WebUser::ROLE_MANAGER')) and order['status'] == constant('ActiveRecord::STATUS_IN_PROGRESS') %}
						<div class="t-C pre-y-1">
							<input type="checkbox" class="js-check-row">
						</div>
						{% endif %}
					</td>
					<td>{{ order['time'] }}</td>
					<td>{{ order['type'] ~ '<br>' ~ order['value']
						~ (order['starting']? ('<br>Пусковая ' ~ order['starting'] ~ ' м<sup>3</sup>'): '')
						~ (order[constant('ConcreteOrder::SHWING')]? '<br> Под швинг': '')
						~ (order[constant('ConcreteOrder::BAG')]? '<br> Мешочек ' ~ order[constant('ConcreteOrder::BAG')] ~ ' шт': '')
						~ (order[constant('ConcreteOrder::EXTRA_W')]? '<br>' ~ order[constant('ConcreteOrder::EXTRA_W')]: '')
						~ (order[constant('ConcreteOrder::EXTRA_F')]? '<br>' ~ order[constant('ConcreteOrder::EXTRA_F')]: '')
						~ (order[constant('ConcreteOrder::EXTRA_P')]? '<br>' ~ order[constant('ConcreteOrder::EXTRA_P')]: '')
						}}</td>
					<td>{{ order['additive'] }}</td>
					<td>{{ order['volume'] }}</td>
					<td>
						{% if order['specModel'] %}
							{{ order['specModel'] }} <br>
						{% endif %}
						{{ customer.title }} <br>
						{% for address in customer.getAddressesForOrder(order['id'], order['orderType']) %}
							{{ address.address }} <br>
						{% endfor %}
						{% if customer.phone %}
							{{ customer.phone }} <br>
						{% endif %}
						{% if order['comment'] %}
							{{ order['comment'] }} <br>
						{% endif %}
					</td>
					<td>
						{% if App.user.checkAccess(constant('WebUser::ROLE_MANAGER')) %}
							{% if order['status'] == constant('ActiveRecord::STATUS_IN_PROGRESS') %}
								<a data-callback="setCompletedStatusForOrderTableRow" class="js-ajax-link" href="{{ this.createUrl('ajax/setOrderStatus', {orderId: order['id'], orderType: order['orderType'], status: 1}) }}">Выполнить</a>
							{% elseif order['status'] == constant('ActiveRecord::STATUS_COMPLETED') %}
								<span class="text-muted">Выполнена</span>
							{% else %}
								<span class="text-muted">Отменена</span>
							{% endif %}

							<br><a class="js-fancy-ajax" href="{{ this.createUrl('ajax/changeOrder', {orderId: order['id'], orderType: order['orderType']}) }}">Изменить</a>

							{% if order['orderType'] == 'concrete' %}
								<br><a class="js-fancy-ajax" href="{{ this.createUrl('ajax/editMixers', {orderId: order['id']}) }}">Миксеры</a>
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>
{% endblock %}
 