{% extends 'layouts/clear.twig' %}

{% block content %}
	<h2>Заявки на выбранное время</h2>

	<table class="table">
		<tr>
			<td>Дата</td>
			<td>Время</td>
			<td>Марка</td>
			<td>Тип</td>
			<td>Добавка</td>
			<td>V</td>
			<td>Заказчик</td>
		</tr>

		{% for order in orders %}
			<tr>
				<td>{{ order.getDateWoTime }}</td>
				<td>{{ order.getDateTime }}</td>
				<td>{{ order.getRecipeConsist('type') }}</td>
				<td>{{ order.getRecipeConsist('value') }}</td>
				<td>{{ order.getRecipeConsist('additive') }}</td>
				<td>{{ order.volume }}</td>
				<td>
					{{ order.customer.title }} <br>
					{% for address in order.customer.getAddressesForOrder(order.id, constant('ConcreteOrder::ORDER_TYPE')) %}
						{{ address.address }} <br>
					{% endfor %}
					{% if order.customer.phone %}
						{{ order.customer.phone }} <br>
					{% endif %}
					{% if order.comment %}
						{{ order.comment }} <br>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
