{% extends 'layouts/clear.twig' %}

{% block content %}
	{% set form = this.beginWidget('CActiveForm', {htmlOptions: {class: 'js-ajax-submit'} }) %}

	{{ include('common/form/hidden.twig', { form: form, model: customer, field: 'id' }) }}
	<div class="row">
		<div class="col-sm-6">
			{{ include('common/form/text.twig', {
			form: form,
			model: customer,
			field: 'title',
			htmlOptions: {}
			}) }}
		</div>
	</div>

	{% for customerAddress in customer.addresses %}
		<div class="row">
			<div class="col-sm-6">
				{{ include('common/form/text.twig', {form: form, model: customerAddress, field: '[' ~ customerAddress.id ~ ']address'}) }}
			</div>
			<div class="col-sm-6">
				<button class="btn btn-danger js-delete-row" data-url="{{ this.createUrl('ajax/deleteAddress', {customerAddressId: customerAddress.id}) }}">Удалить адрес</button>
			</div>
		</div>
	{% endfor %}

	<div class="js-add-address">
		<div class="row">
			<div class="col-sm-6">
				{{ include('common/form/text.twig', {form: form, model: address, field: 'address[]'}) }}
			</div>
			<div class="col-sm-6">
				<button class="btn btn-primary js-add-address-trigger">Добавить адрес</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			{{ include('common/form/text.twig', { form: form, model: customer, field: 'phone' }) }}
		</div>
	</div>

	<div class="form-group">
		<button class="btn btn-primary js-ajax-submit">Сохранить</button>
		<button class="btn btn-danger js-ajax-submit" name="delete">Удалить</button>
	</div>

	{% do this.endWidget() %}
{% endblock %}