{% set form = this.beginWidget('CActiveForm', {htmlOptions: {class: 'js-ajax-submit'} }) %}

{% set mixers = model.getMixers() %}
{% set mixerNumbers = model.getMixerNumbers() %}
<div class="js-mixer-boxes">
	<div class="line-box">
		{% if mixers|length == 0 %}
			{% for i in range(1, 9) %}{{ include('ajax/mixersForm.twig', {mixerNumbers: mixerNumbers}) }}{% endfor %}
		{% else %}
			{% for mixer in mixers %}{{ include('ajax/mixersForm.twig', {mixer: mixer, mixerNumbers: mixerNumbers}) }}{% endfor %}
		{% endif %}
	</div>

	<p>
		Отгружено бетона: <b class="js-count-mixers"></b> м<sup>3</sup>
	</p>
</div>

<button class="btn btn-info js-clone-element" type="submit" data-target=".line-box__item">+</button>
{{ include('common/form/button.twig', { class: 'btn btn-primary', text: 'Сохранить' }) }}

<script>
	$('.js-mixer-boxes').trigger('change');
</script>

{% do this.endWidget() %}