{% set form = this.beginWidget('CActiveForm', {htmlOptions: {class: 'js-concrete-order', enctype: 'multipart/form-data'} }) %}

{{ include('common/form/text.twig', { form: form, model: model, field: 'shippingDate', htmlOptions: {class: 'js-datepicker form-control'} }) }}
{{ include('common/form/text.twig', { form: form, model: model, field: 'shippingFrom' }) }}
{{ include('common/form/text.twig', { form: form, model: model, field: 'cargo' }) }}

{% if model.isNewRecord() %}
<div class="form-group">
	{{ form.fileField(model, 'attachment') }}
</div>
{% endif %}

{{ include('common/form/select.twig', { form: form, model: model, field: 'transport', dataList: model.getTransports() }) }}
{{ include('common/form/text.twig', { form: form, model: model, field: 'arrivalDate', htmlOptions: {class: 'js-datepicker form-control'} }) }}
{{ include('common/form/text.twig', { form: form, model: model, field: 'arrivalCity' }) }}
{{ include('common/form/text.twig', { form: form, model: model, field: 'arrivalPlace' }) }}
{{ include('common/form/select.twig', { form: form, model: model, field: 'status', dataList: model.getStatusTexts() }) }}

<div class="clearfix">
	<div class="pull-left">
		{{ include('common/form/button.twig', { class: 'btn btn-primary', text: 'Сохранить доставку' }) }}
	</div>
</div>
{% do this.endWidget() %}