{% set number = mixer? mixer|keys|first: '' %}
{% set quantity = mixer? mixer|first: '' %}
<div class="line-box__item">
	<div class="form-group">
		<select name="ConcreteMixer[number][]" class="form-control">
			{% for mixerNumber in mixerNumbers %}
				<option value="{{ mixerNumber }}"{% if number == mixerNumber %} selected{% endif %}>{{ mixerNumber }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<input placeholder="Кол-во бетона" class="form-control js-replace-comma js-mixer-quantity" type="text" name="ConcreteMixer[quantity][]" value="{{ quantity }}">
	</div>
</div>