{% extends 'layouts/clear.twig' %}

{% block content %}
	{% set form = this.beginWidget('CActiveForm', {htmlOptions: {class: 'js-concrete-order js-ajax-submit', 'data-callback': 'refreshCalendar'} }) %}

	{{ include('common/form/hidden.twig', { form: form, model: model, field: 'id' }) }}

	<table class="table">
		<tr>
			<td style="width: 8%;">Время</td>
			{% if orderType == 'concrete' %}
				<td>Марка</td>
				<td>Добавка</td>
				<td style="width: 10%;">V</td>
				<td>Пусковая</td>
				<td>Швинг</td>
				<td>Мешочек</td>
			{% elseif orderType == 'spec' %}
				<td>Спецтехника</td>
			{% endif %}
			<td style="width: 25%;">Заказчик</td>
			<td></td>
		</tr>

		<tr>
			<td>
				<div class="form-group">
					<input class="form-control" type="text" name="hours" value="{{ hours }}" maxlength="2">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="minutes" value="{{ minutes }}" maxlength="2">
				</div>
			</td>
			{% if orderType == 'concrete' %}
				<td>
					{% set recipe = model.parseRecipe() %}
					{% set type = recipe[constant('ConcreteOrder::TYPE')] %}
					{% set recipes = model.getRecipes() %}
					{% set brands = recipes[type]['values'] %}
					{% set starting = model.getRecipeConsist(constant('ConcreteOrder::STARTING')) %}
					{% set shwing = model.getRecipeConsist(constant('ConcreteOrder::SHWING')) %}
					{% set bag = model.getRecipeConsist(constant('ConcreteOrder::BAG')) %}

					<input type="hidden" name="recipe[{{ constant('ConcreteOrder::TYPE') }}]" value="{{ type }}">
					<select class="form-control" name="recipe[{{ constant('ConcreteOrder::VALUE') }}]" id="">
						{% for brand in brands %}
							<option{% if model.getRecipeConsist(constant('ConcreteOrder::VALUE')) == brand %} selected{% endif %}
									value="{{ loop.index0 }}">{{ brand }}</option>
						{% endfor %}
					</select>
				</td>
				<td>
					<select class="form-control" name="recipe[{{ constant('ConcreteOrder::ADDITIVE') }}]" id="">
						{% for additive in model.getAdditives() %}
							<option{% if model.getRecipeConsist(constant('ConcreteOrder::ADDITIVE')) == additive %} selected{% endif %} value="{{ loop.index0 }}">{{ additive }}</option>
						{% endfor %}
					</select>
				</td>
				<td>
					{{ include('common/form/text.twig', { form: form, model: model, field: 'volume', htmlOptions: {class: 'form-control js-replace-comma'} }) }}
				</td>
				<td>
					<input class="form-control" type="text" name="recipe[{{ constant('ConcreteOrder::STARTING') }}]" value="{{ starting }}">
				</td>
				<td>
					<input type="checkbox" name="recipe[{{ constant('ConcreteOrder::SHWING') }}]" {{ shwing? 'checked': '' }}>
				</td>
				<td>
					<input class="form-control" type="text" name="recipe[{{ constant('ConcreteOrder::BAG') }}]" value="{{ bag }}">
				</td>
			{% elseif orderType == 'spec' %}
				<td>
					{{ form.dropDownList(model, 'specModel', data, {class: 'form-control'}) }}
				</td>
			{% endif %}
			<td>
				{{ include('common/form/textarea.twig', { form: form, model: model, field: 'comment', htmlOptions: {rows: 5} }) }}
			</td>
			<td>
				<div class="form-group">
					<button class="btn btn-primary js-ajax-submit" data-callback="refreshTable">Сохранить</button>
				</div>
				<div class="form-group">
					{% if model.status == constant('ActiveRecord::STATUS_CANCELLED') %}
						<button class="btn btn-success js-ajax-submit" data-callback="refreshTable" name="recover">Восстановить</button>
					{% else %}
						<button class="btn btn-danger js-ajax-submit" data-callback="refreshTable" name="delete">Удалить</button>
					{% endif %}
				</div>
			</td>
		</tr>
	</table>

	<div class="form-group row">
		<div class="col-sm-1">
			<label for="date" style="margin-top: 0.5em;">Дата</label>
		</div>
		<div class="col-sm-2">
			<input id="date" class="form-control js-datepicker" type="text" name="date" value="{{ date }}">
		</div>
		<div class="col-sm-4">
			{{ include('common/form/select.twig', { form: form, model: model, field: 'customerId', dataList: allCustomers }) }}
		</div>
	</div>

	{% if orderType == 'concrete' %}
		<div class="row">
			<div class="col-sm-8">
				<table class="table">
					{% set extraParams = [constant('ConcreteOrder::EXTRA_W'), constant('ConcreteOrder::EXTRA_F'), constant('ConcreteOrder::EXTRA_P')] %}
					<tr>
						{% for extraParam in extraParams %}
							<td>Параметр {{ extraParam }}</td>
						{% endfor %}
					</tr>
					<tr>
						{% for extraParam in extraParams %}
							<td>
								<select class="form-control" name="recipe[{{ extraParam }}]">
									<option value="">Выберите</option>
									{% for extra in model.getExtraParams()[extraParam] %}
										<option{% if model.getRecipeConsist(extraParam) == extra %} selected{% endif %}
												value="{{ loop.index0 }}">{{ extra }}</option>
									{% endfor %}
								</select>
							</td>
						{% endfor %}
					</tr>
				</table>
			</div>
		</div>
	{% endif %}

	{% do this.endWidget() %}

	<script>
		window.initDatepicker();
	</script>
{% endblock %}
