<!doctype html>
<html lang="{{ App.language }}">
<head>
	<meta charset="UTF-8">
	<title>{{ block('title')|default(this.pageTitle) }}</title>
	<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/vendor/fullcalendar-2.2.0/fullcalendar.css">
	<link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.css">
</head>
<body>
{{ include('common/header.twig') }}
<div class="content">
	<div class="container">
		{{ block('content') }}
	</div>
</div>
{{ include('common/footer.twig') }}
{{ block('scripts') }}
</body>
</html>
