<h2>Заказчик</h2>

{{ include('common/form/hidden.twig', { form: form, model: customer, field: 'id' }) }}
<div class="row">
	<div class="col-sm-6">
		{{ include('common/form/text.twig', {
			form: form,
			model: customer,
			field: 'title',
			htmlOptions: {
				class: 'form-control js-customer-complete',
				'data-customers': autoComplete
			}
		}) }}
	</div>
</div>
<div class="js-add-address">
	<div class="row">
		<div class="col-sm-6">
			{{ include('common/form/text.twig', {form: form, model: address, field: 'address[]'}) }}
		</div>
		<div class="col-sm-6">
			<button class="btn btn-primary js-add-address-trigger">Добавить адрес</button>
			<button class="btn btn-danger js-simple-delete-row">Удалить адрес</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		{{ include('common/form/text.twig', { form: form, model: customer, field: 'phone' }) }}
	</div>
</div>