<div class="footer">

</div>

<script src="http://yastatic.net/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.2.1.1.min.js"><\/script>');</script>

<script src="/vendor/fullcalendar-2.2.0/lib/moment.min.js"></script>
<script src="/vendor/fullcalendar-2.2.0/fullcalendar.js"></script>
<script src="/vendor/fullcalendar-2.2.0/lang/ru.js"></script>

<script src="/vendor/jquery.autocomplete-1.2.15/jquery.autocomplete.js"></script>
<script src="/vendor/fancybox/jquery.fancybox.pack.js"></script>

<script src="/js/main.js"></script>