<div class="header">
	<div class="container">
		<div class="header__user row">
			{% if App.user.role %}
			<div class="pull-right">
				<p>
				{{ App.user.name }}
				{% if App.user.model.realname %}
					[{{ App.user.model.realname }}]
				{% endif %}
				({{ App.user.role }})
				</p>
				<a class="btn btn-warning btn-sm" href="{{ this.createUrl('main/signOut') }}">Выход</a>
			</div>
			{% endif %}
		</div>

		{{ Nav.getMenu('main').setHtmlOptions({class: 'header__nav nav nav-tabs'}).render({}, true) }}
	</div>
</div>
