<link rel="stylesheet" href="/vendor/datepicker.jquery-ui-1.11.2.custom/jquery-ui.css">
<link rel="stylesheet" href="/vendor/datepicker.jquery-ui-1.11.2.custom/jquery-ui.structure.css">
<link rel="stylesheet" href="/vendor/datepicker.jquery-ui-1.11.2.custom/jquery-ui.theme.css">

<script src="/vendor/datepicker.jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>
<script>
	function initDatepicker() {
		$('.js-datepicker').datepicker({
			dateFormat: 'yy-mm-dd',
			monthNames: [
				'Январь',
				'Февраль',
				'Март',
				'Апрель',
				'Май',
				'Июнь',
				'Июль',
				'Август',
				'Сентябрь',
				'Октябрь',
				'Ноябрь',
				'Декабрь'
			],
			dayNamesMin: [
				'Вс',
				'Пн',
				'Вт',
				'Ср',
				'Чт',
				'Пт',
				'Сб'
			],
			firstDay: 1
		});
	}
</script>