{% set flash = App.user.getFlash(this.action.id) %}
{% if flash == true %}
	<div class="alert alert-success js-alert-disappear">Удачно</div>
{% endif %}

{% if flash == false and flash is not null %}
	<div class="alert alert-danger">
		Ошибка!
		{% set text = '' %}
		{% for field in errors %}
			{% for error in field %}
				{% set text = text ~ '<div>' ~ error ~ '</div>' %}
			{% endfor %}
		{% endfor %}
		{{ text }}
	</div>
{% endif %}
