{% extends 'layouts/common.twig' %}

{% block content %}

	<ul class="nav nav-pills">
		<li class="active js-select-group" data-id="#smallPanelFormWork"><a href="#">Опалубка мелкощитовая</a></li>
		<li class="js-select-group" data-id="#formWork"><a href="#">Опалубка перекрытий</a></li>
		<li class="js-select-group" data-id="#frameScaffold"><a href="#">Леса рамные</a></li>
		<li class="js-select-group" data-id="#clampScaffold"><a href="#">Леса хомутовые</a></li>
	</ul>

	{# Леса рамные #}
	<div class="js-select-group-items" id="frameScaffold" style="display: none">
		<h2>Введите параметры необходимой опалубки</h2>

		<div class="row">
			<div class="form-group col-sm-4">
				<label for="frame-scaffold-calculate-height">Высота, м</label>
				<input class="form-control" type="text" id="frame-scaffold-calculate-height">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="frame-scaffold-calculate-length">Длина, м</label>
				<input class="form-control" type="text" id="frame-scaffold-calculate-length">
			</div>
		</div>
		<button class="btn btn-primary js-frame-scaffold-calculate js-calculate">Рассчитать</button>

		<div class="js-calc-container hide">
			<h2>Результаты просчета</h2>

			<div class="js-calc-table-result"></div>

			<h2>Дополнительные элементы</h2>

			<p>Рекомендуем Вам приобрести дополнительные элементы:</p>

			<div class="js-calc-table-additional"></div>

			<p>
				<b>Площадь: <span class="js-calc-square-result"></span> руб.</b> <br>
				<b>Цена аренды: <span class="js-calc-rentSum-result"></span> руб/мес</b> <br>
				<b>Цена продажи: <span class="js-calc-sum-result"></span> руб.</b>
			</p>

			<p>
				{#<b>Цена аренды с доп. элементами: <span class="js-calc-additionalRentSum-result"></span> руб.</b> <br>#}
				<b>Цена продажи с доп. элементами: <span class="js-calc-additionalSum-result"></span> руб.</b>
			</p>
		</div>
	</div>

	{# Опалубка рамная #}
	<div class="js-select-group-items" id="formWork" style="display: none">
		<h2>Введите параметры необходимой опалубки</h2>

		<div class="row">
			<div class="form-group col-sm-4">
				<label for="formWork-calculate-square">Площадь, м2</label>
				<input class="form-control" type="text" id="formWork-calculate-square">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="formWork-calculate-height">Высота, м</label>
				<input class="form-control" type="text" id="formWork-calculate-height">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="formWork-calculate-size">Размер стойки</label>
				<select class="form-control" id="formWork-calculate-size">

				</select>
			</div>
		</div>
		<button class="btn btn-primary js-formWork-calculate js-calculate">Рассчитать</button>

		<div class="js-calc-container hide">
			<h2>Результаты просчета</h2>

			<div class="js-calc-table-result"></div>
			{#<b>Цена аренды: <span class="js-calc-rentSum-result"></span> руб/мес</b> <br>#}
			<b>Цена продажи: <span class="js-calc-sum-result"></span> руб.</b>
		</div>
	</div>

	{# Опалубка мелкощитовая #}
	<div class="js-select-group-items" id="smallPanelFormWork"  style="display: none">
		<h2>Введите параметры необходимой опалубки</h2>
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="smallPanelFormWork-calculate-height">Высота, м</label>
				<input class="form-control" type="text" id="smallPanelFormWork-calculate-height">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="smallPanelFormWork-calculate-length">Длина, м</label>
				<input class="form-control" type="text" id="smallPanelFormWork-calculate-length">
			</div>
		</div>
		{#<div class="row">
			<div class="form-group col-sm-4">
				<label for="smallPanelFormWork-calculate-thickness">Толщина стены, мм</label>
				<input class="form-control" type="text" id="smallPanelFormWork-calculate-thickness">
			</div>
		</div>#}
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="smallPanelFormWork-calculate-thickness">Толщина стены, мм</label>
				<select id="smallPanelFormWork-calculate-thickness" class="form-control">
					{% for value in range(150, 600, 50) %}
						<option value="{{ value }}">{{ value }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<button class="btn btn-primary js-smallPanelFormWork-calculate js-calculate">Рассчитать</button>

		<div class="js-calc-container hide">
			<h2>Результаты просчета</h2>

			<div class="js-calc-table-result"></div>
			<b>Площадь: <span class="js-calc-square-result"></span> м2</b> <br>
			<b>Цена аренды: <span class="js-calc-rentSum-result"></span> руб/мес</b> <br>
			<b>Цена продажи: <span class="js-calc-sum-result"></span> $</b>
		</div>
	</div>

	{# Леса хомутовые #}
	<div class="js-select-group-items" id="clampScaffold" style="display: none">
		<h2>Введите параметры необходимой опалубки</h2>
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="clampScaffold-calculate-height">Высота, м</label>
				<input class="form-control" type="text" id="clampScaffold-calculate-height">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="clampScaffold-calculate-length">Длина, м</label>
				<input class="form-control" type="text" id="clampScaffold-calculate-length">
			</div>
		</div>
		<button class="btn btn-primary js-clampScaffold-calculate js-calculate">Рассчитать</button>

		<div class="js-calc-container hide">
			<h2>Результаты просчета</h2>

			<div class="js-calc-table-result"></div>
			<b>Площадь: <span class="js-calc-square-result"></span> м2</b> <br>
			<b>Цена аренды: <span class="js-calc-rentSum-result"></span> руб/мес</b> <br>
			<b>Цена продажи: <span class="js-calc-sum-result"></span> руб.</b>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script src="/js/calculator.js"></script>
{% endblock %}