{% extends 'layouts/common.twig' %}

{% block content %}
	<h1>Цемент</h1>

	<div class="js-calendar js-calendar-no-select calendar-hide-time"
		 data-orders-url="{{ url }}"
		 data-events="{{ cements|escape }}"></div>

	<div class="js-order-table"></div>

{% endblock %}