{% extends 'layouts/common.twig' %}

{% block content %}
	{{ include('common/notifier.twig', {errors: model.errors|merge(customer.errors|default([]))|merge(address.errors)}) }}

	<div class="js-calendar"
		 data-orders-url="{{ url }}"
		 data-events="{{ orders|escape }}"></div>

	<div class="js-order-table"></div>

	<h2>Рецепт</h2>

	{% set form = this.beginWidget('CActiveForm', {htmlOptions: {class: 'js-concrete-order'} }) %}

	{# Recipes #}
	<div>
		{% set recipes = model.getRecipes() %}

		<div class="form-group" id="concrete-type">
			{% for id, materialData in recipes %}
				<a class="btn btn-info js-select-group" data-id="{{ id }}"
				   href="#{{ id }}">{{ materialData['label'] }}</a>
			{% endfor %}
		</div>

		{% for id, materialData in recipes %}
			<div class="form-group js-select-group-items" style="display: none" id="{{ id }}">
				{% for value in materialData['values'] %}
					<button class="btn btn-warning" data-id="{{ loop.index0 }}">{{ value }}</button>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

	{# Extra params #}
	<div>
		<div class="form-group" id="extra-params">
			{% set extraParams = model.getExtraParams() %}

			<div class="row">
				{% for title, params in extraParams %}
					<div class="col-sm-4">
						<select class="form-control js-extra" data-extra="{{ title }}">
							<option value="">Выберите: {{ title == 'P'? 'П': title }}</option>
							{% for param in params %}
								<option value="{{ loop.index0 }}">{{ param }}</option>
							{% endfor %}
						</select>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	{# Additives #}
	<div>
		<div class="form-group js-select-button" id="additive">
			{% for additive in model.getAdditives() %}
				<button class="btn btn-info" data-id="{{ loop.index0 }}">{{ additive }}</button>
			{% endfor %}
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<div class="js-select-button">
				<div class="col-sm-1">
					<button class="btn btn-success js-plus-starting" data-id="1">Пусковая</button>
				</div>
				<div class="col-sm-1">
					<input type="text" name="" class="js-plus-starting-value form-control js-replace-comma">
				</div>
			</div>
			<div class="js-select-button">
				<div class="col-sm-1">
					<button class="btn btn-success js-plus-bag" data-id="1">Мешочек</button>
				</div>
				<div class="col-sm-1">
					<input type="text" name="" class="js-plus-bag-value form-control js-replace-comma">
				</div>
			</div>
		</div>
	</div>

	<div class="js-select-button">
		<button class="btn btn-warning js-shwing" data-id="1">Под швинг</button>
	</div>

	{{ include('common/form/hidden.twig', { form: form, model: model, field: 'date', htmlOptions: {class: 'js-date'} }) }}
	{{ include('common/form/hidden.twig', { form: form, model: model, field: 'recipe' }) }}

	<h2>Объем</h2>
	<div class="row">
		<div class="col-sm-6">
			{{ include('common/form/text.twig', { form: form, model: model, field: 'volume', htmlOptions: {class: 'form-control js-replace-comma'} }) }}
		</div>
	</div>

	{{ include('common/customerForm.twig', { form: form, customer: customer, address: address, autoComplete: autoComplete }) }}

	<div class="row">
		<div class="col-sm-6">
			{{ include('common/form/textarea.twig', { form: form, model: model, field: 'comment' }) }}
		</div>
	</div>

	<div class="clearfix">
		<div class="pull-left">
			{{ include('common/form/button.twig', { class: 'btn btn-primary', text: 'Добавить заявку' }) }}
		</div>
		<div class="pull-right">
			<a class="btn btn-info" href="{{ this.createUrl('main/journal') }}">Журнал заявок</a>
		</div>
	</div>
	{% do this.endWidget() %}
{% endblock %}
