{% extends 'layouts/common.twig' %}

{% block content %}
	{{ include('common/notifier.twig', {errors: model.errors}) }}
	{{ include ('ajax/logisticEditForm.twig', {model: model}) }}
{% endblock %}

{% block scripts %}
	{{ include ('common/js-datepicker.twig', {model: model}) }}
	<script>
		$(function() {
			window.initDatepicker();
		});
	</script>
{% endblock %}