{% extends 'layouts/common.twig' %}

{% block content %}

	{% set form = this.beginWidget('CActiveForm') %}

	<table class="table">
		<tr>
			<td>ID</td>
			<td>Название</td>
			<td></td>
		</tr>
		{% for specType in specTypes %}
			<tr>
				<td>
					{{ specType.id }}
				</td>
				<td>
					{{ include('common/form/text.twig', { form: form, model: specType, field: '[' ~ specType.id ~ ']title' }) }}
				</td>
				<td>
					<button data-url="{{ this.createUrl('ajax/deleteModel', {id: specType.id, model: 'specType'}) }}" class="btn btn-danger js-delete-row">удалить</button>
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td>
				{{ include('common/form/text.twig', { form: form, model: newSpecType, field: 'title[]' }) }}
			</td>
			<td>
				<button class="btn btn-primary js-add-clone-row">добавить</button>
			</td>
		</tr>
	</table>

	<button class="btn btn-primary">Сохранить</button>

	{% do this.endWidget() %}

{% endblock %}
