{% extends 'layouts/common.twig' %}

{% block content %}

	{% set form = this.beginWidget('CActiveForm') %}

	<table class="table">
		<tr>
			<td>ID</td>
			<td>Название</td>
			<td>Тип</td>
			<td></td>
		</tr>
		{% for specModel in specModels %}
			<tr>
				<td>
					{{ specModel.id }}
				</td>
				<td>
					{{ include('common/form/text.twig', { form: form, model: specModel, field: '[' ~ specModel.id ~ ']title' }) }}
				</td>
				<td>
					{{ form.dropDownList(specModel, '[' ~ specModel.id ~ ']specTypeId', data, {class: 'form-control'}) }}
				</td>
				<td>
					<button data-url="{{ this.createUrl('ajax/deleteModel', {id: specModel.id, model: 'specModel'}) }}" class="btn btn-danger js-delete-row">удалить</button>
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td>
				{{ include('common/form/text.twig', { form: form, model: newSpecModel, field: 'title[]' }) }}
			</td>
			<td>
				{{ form.dropDownList(newSpecModel, 'specTypeId[]', data, {class: 'form-control'}) }}
			</td>
			<td>
				<button class="btn btn-primary js-add-clone-row">добавить</button>
			</td>
		</tr>
	</table>

	<button class="btn btn-primary">Сохранить</button>

	{% do this.endWidget() %}

{% endblock %}
