{% extends 'layouts/common.twig' %}

{% block content %}
	{{ include('common/notifier.twig', {errors: {} }) }}

	<h1>Список заявок</h1>

	<div class="js-calendar js-calendar-no-select calendar-hide-time"
		 data-event-source="{{ this.createUrl('ajax/getMonthOrders') }}"
		 data-orders-url="{{ url }}"></div>

	{% if App.user.checkAccess(constant('WebUser::ROLE_MANAGER')) %}
	<div class="pre-y-2 post-y-2">
		<a class="btn btn-primary" href="{{ this.createUrl('main/index') }}">Заказ бетона</a>
		<a class="btn btn-primary" href="{{ this.createUrl('main/specOrder') }}">Заказ спецтехники</a>
	</div>
	{% endif %}

	<div class="js-order-table"></div>

	{% if App.user.checkAccess(constant('WebUser::ROLE_MANAGER')) %}
	<h2>Редактирование заказчика</h2>

	<div class="row form-group">
		<div class="col-sm-4">
			<select name="" id="" class="form-control js-customer-select" data-url="{{ this.createUrl('ajax/customerEdit') }}">
				<option value="0">Выберите заказчика</option>
				{% for customer in customers %}
					<option value="{{ customer.id }}">{{ customer.title }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-primary js-customer-edit">Редактировать</button>
		</div>
	</div>

	<div class="form-group">
		<button class="btn btn-success js-customer-edit" data-mode="add">Добавить</button>
	</div>
	{% endif %}

	<form action="{{ this.createUrl('ajax/getJournalExcelByPeriod') }}" target="_blank">
		<h2>Экспорт по периоду</h2>

		<div class="row form-group">
			<div class="col-sm-4">
				<input type="text" name="dateFrom" class="form-control js-datepicker"
					   placeholder="период с">
			</div>
			<div class="col-sm-4">
				<input type="text" name="dateTo" class="form-control js-datepicker"
					   placeholder="период по">
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm-4">
				<select name="specId" class="form-control">
					<option value="0">Вся спецтехника</option>

					{% for spec in allSpecs %}
						<option value="{{ spec.id }}">{{ spec.title }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<button class="btn btn-primary" data-target="#url-select">Экспорт в Excel</button>
	</form>
{% endblock %}

{% block scripts %}
	{{ include('common/js-datepicker.twig') }}

	<script>
		$(function() {
			window.initDatepicker();

			$('body').data('last-table-url', '{{ this.createUrl('ajax/getNearestJournal', {date: "now"|date("Y-m-d")}) }}');

			setInterval(function() {
				refreshTable();
			}, 30000);
		});
	</script>
{% endblock %}