{% extends 'layouts/common.twig' %}

{% block content %}
	{{ include('common/notifier.twig', {errors: model.errors}) }}

	<table class="table">
		<thead>
		<tr>
			<th>Отправка</th>
			<th>Откуда</th>
			<th>Груз</th>
			<th>Транспорт</th>
			<th>Приход</th>
			<th>Куда</th>
			<th>Статус</th>
		</tr>
		</thead>
		<tbody>
		{% for logistic in logistics %}
			{% set statuses = logistic.getStatusTexts() %}
			{% set transports = logistic.getTransports() %}

			{% set class = '' %}
			{% if logistic.status == constant('Logistic::STATUS_COMPLETED') %}
				{% set class = 'active' %}
			{% elseif logistic.status == constant('Logistic::STATUS_NOT_COMING') %}
				{% set class = 'danger' %}
			{% endif %}
			<tr class="{{ class }}">
				<td>
					{% if App.user.checkAccess(constant('WebUser::ROLE_LOGISTICIAN')) %}
						<a href="{{ this.createUrl('main/editLogistic', {id: logistic.id}) }}">{{ logistic.shippingDate }}</a>
					{% else %}
						{{ logistic.shippingDate }}
					{% endif %}
				</td>
				<td>{{ logistic.shippingFrom }}</td>
				<td>
					{% if logistic.attachment %}
						<a target="_blank" href="{{ logistic.attachment }}">
							{{ logistic.cargo }}
						</a>
					{% else %}
						{{ logistic.cargo }}
					{% endif %}
				</td>
				<td>{{ transports[logistic.transport] }}</td>
				<td>{{ logistic.arrivalDate }}</td>
				<td>{{ logistic.arrivalCity }}<br><small>{{ logistic.arrivalPlace }}</small></td>
				<td>
					{{ statuses[logistic.status] }}
					{% if App.user.checkAccess(constant('WebUser::ROLE_LOGISTICIAN')) %}
						<br>
						<small>
							Изменить:
							{% for status, title in statuses %}
								{% if status != logistic.status %}
									<a href="{{ this.createUrl('ajax/toggleModelAttribute', {id: logistic.id, value: status, model: 'logistic'}) }}">{{ title }}</a>
								{% endif %}
							{% endfor %}
						</small>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if App.user.checkAccess(constant('WebUser::ROLE_LOGISTICIAN')) %}
		<button class="btn btn-primary js-fancy-html-block" data-target="#fancy-block" data-callback="initDatepicker">Добавить доставку</button>
	{% endif %}

	<div id="fancy-block" style="display: none">
		{{ include ('ajax/logisticEditForm.twig', {model: model}) }}
	</div>

	{% do this.widget('application.widgets.PaginationWidget', {pages: pages}) %}

{% endblock %}

{% block scripts %}
	{{ include ('common/js-datepicker.twig', {model: model}) }}
{% endblock %}