{% extends 'layouts/common.twig' %}

{% block content %}
	{% do this.setPageTitle('Авторизация') %}

	<h1 class="page-header">Авторизация</h1>
	{% set form = this.beginWidget('CActiveForm', { id: 'login-form', enableAjaxValidation: false }) %}
	<div class="row">
		<div class="col-sm-4">
			{{ include('common/form/text.twig', { form: form, model: model, field: 'username' }) }}
			{{ include('common/form/password.twig', { form: form, model: model, field: 'password' }) }}
			{{ include('common/form/checkbox.twig', { form: form, model: model, field: 'rememberMe'}) }}

			{{ include('common/form/submit.twig', { form: form, model: model }) }}
		</div>
	</div>
	{% do this.endWidget() %}
{% endblock %}
