{% extends 'layouts/common.twig' %}

{% block content %}
	{{ include('common/notifier.twig', {errors: model.errors|merge(customer.errors)|merge(address.errors)}) }}

	{% set form = this.beginWidget('CActiveForm', {htmlOptions: {class: 'js-spec-order'} }) %}

	<h2>Выберите тип строительной спецтехники</h2>
	<div>
		<div class="form-group group-items" id="concrete-type">
			{% for specType in specTypes %}
				<a class="btn btn-info js-select-group" data-id="{{ specType.id }}"
				   href="#{{ specType.id }}">{{ specType.title }}</a>
			{% endfor %}
		</div>

		{% for specType in specTypes %}
			<div class="group-items form-group js-select-group-items" style="display: none" id="{{ specType.id }}">
				<h2>Выберите модель</h2>
				{% for model in specType.specModels %}
					<button class="btn btn-warning" data-id="{{ model.id }}">{{ model.title }}</button>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

	<div class="js-calendar"
		 data-orders-url="{{ url }}"
		 data-events="{{ orders|escape }}"></div>

	<div class="js-order-table"></div>

	{{ include('common/form/hidden.twig', { form: form, model: model, field: 'date', htmlOptions: {class: 'js-date'} }) }}
	{{ include('common/form/hidden.twig', { form: form, model: model, field: 'specModel' }) }}

	{{ include('common/customerForm.twig', { form: form, customer: customer, address: address, autoComplete: autoComplete }) }}

	<div class="row">
		<div class="col-sm-6">
			{{ include('common/form/textarea.twig', { form: form, model: model, field: 'comment' }) }}
		</div>
	</div>

	<div class="clearfix">
		<div class="pull-left">
			{{ include('common/form/button.twig', { class: 'btn btn-primary', text: 'Добавить заявку' }) }}
		</div>
		<div class="pull-right">
			<a class="btn btn-info" href="{{ this.createUrl('main/journal') }}">Журнал заявок</a>
		</div>
	</div>
	{% do this.endWidget() %}
{% endblock %}
