{% extends 'excel/excelLayout.twig' %}

{% block content %}
	<Worksheet ss:Name="Самосвалы">
		<Table>
			<ss:Column ss:Width="50"/>
			<ss:Column ss:Width="150"/> {# Название машины #}
			<ss:Column ss:Width="100"/> {# Госномер #}
			<ss:Column ss:Width="100"/>  {# Объем кухова #}
			<ss:Column ss:Width="120"/>  {# Кол-во щасси #}
			<ss:Column ss:Width="100"/>  {# Длина кузова #}
			<ss:Column ss:Width="100"/>  {# Ширина кузова #}

			<Row>
				<Cell ss:StyleID="bold">
					<Data ss:Type="String">Самосвалы</Data>
				</Cell>
			</Row>
			<Row/>

			{% if models|length %}
				<Row ss:Height="27">
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ models[0].getAttributeLabel('id') }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ models[0].getAttributeLabel('name') }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ models[0].getAttributeLabel('regNumber') }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ models[0].getAttributeLabel('volume') }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ models[0].getAttributeLabel('chassisCount') }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ models[0].getAttributeLabel('bodyLength') }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ models[0].getAttributeLabel('bodyWidth') }}</Data>
					</Cell>
				</Row>
				{% for model in models %}
					<Row>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">{{ model.id }}</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">{{ model.name }}</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">{{ model.regNumber }}</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">{{ model.volume }}</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">{{ model.chassisCount }}</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">{{ model.bodyLength }}</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">{{ model.bodyWidth }}</Data>
						</Cell>
					</Row>
				{% endfor %}
			{% endif %}
		</Table>

		{{ include('/excel/excelFooter.twig') }}
	</Worksheet>
{% endblock %}
