{% extends 'excel/excelLayout.twig' %}

{% block content %}
	<Worksheet ss:Name="Таблица заказов">
		<Table>
			<ss:Column ss:Width="150"/> {# Тип спецтехники #}
			<ss:Column ss:Width="75"/> {# Объем/Модель спецтехники #}
			<ss:Column ss:Width="70"/>  {# Дата #}
			<ss:Column ss:Width="200"/>  {# Заказчик #}

			<Row>
				<Cell ss:StyleID="bold">
					<Data ss:Type="String">Заявки на бетон</Data>
				</Cell>
			</Row>
			<Row/>

			<Row ss:Height="27">
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Тип спецтехники</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Модель спецтехники</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Дата</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Заказчик</Data>
				</Cell>
			</Row>
			{% for order in specOrders %}
				<Row>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.spec.specType.title }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.spec.title }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.date }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.customer.title }}, {{ order.customer.phone }}, {{ order.customer.getImplodedAddressesForOrder(order.id, constant('specOrder::ORDER_TYPE')) }}</Data>
					</Cell>
				</Row>
			{% endfor %}
		</Table>

		{{ include('/excel/excelFooter.twig') }}
	</Worksheet>
{% endblock %}
