{% extends 'excel/excelLayout.twig' %}

{% block content %}
	<Worksheet ss:Name="Таблица заказов">
		<Table>
			<ss:Column ss:Width="150"/> {# Рецепт/Тип спецтехники #}
			<ss:Column ss:Width="75"/> {# Объем/Модель спецтехники #}
			<ss:Column ss:Width="70"/>  {# Дата #}
			<ss:Column ss:Width="70"/> {# Комментарий #}
			<ss:Column ss:Width="200"/>  {# Заказчик #}
			<ss:Column ss:Width="50"/>  {# Статус #}

			<Row>
				<Cell ss:StyleID="bold">
					<Data ss:Type="String">Заявки на бетон</Data>
				</Cell>
			</Row>
			<Row/>

			<Row ss:Height="15">
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Рецепт</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Объем</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Дата</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Комментарий</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Заказчик</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Статус</Data>
				</Cell>
			</Row>
			{% for order in concreteOrders %}
				<Row ss:Height="27">
					<Cell ss:StyleID="header">
						{% set consist = order.getRecipeConsist() %}
						<Data ss:Type="String">{{ consist[constant('ConcreteOrder::TYPE')] }} {{ consist[constant('ConcreteOrder::VALUE')] }}{{ consist[constant('ConcreteOrder::ADDITIVE')]? ', добавка: ' ~ consist[constant('ConcreteOrder::ADDITIVE')]:'' }}{{ consist[constant('ConcreteOrder::STARTING')]? ', пусковая: ' ~ consist[constant('ConcreteOrder::STARTING')]:'' }}{{ consist[constant('ConcreteOrder::SHWING')]? ', под швинг':'' }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.volume }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.date }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.comment }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.customer.title }}, {{ order.customer.phone }}, {{ order.customer.getImplodedAddressesForOrder(order.id, constant('ConcreteOrder::ORDER_TYPE')) }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.getStatusLabel(order.status) }}</Data>
					</Cell>
				</Row>
			{% endfor %}

			<Row/>
			<Row/>
			<Row>
				<Cell ss:StyleID="bold">
					<Data ss:Type="String">Заявки на спецтехнику</Data>
				</Cell>
			</Row>
			<Row/>

			<Row ss:Height="27">
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Тип спецтехники</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Модель спецтехники</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Дата</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Комментарий</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Заказчик</Data>
				</Cell>
				<Cell ss:StyleID="header">
					<Data ss:Type="String">Статус</Data>
				</Cell>
			</Row>
			{% for order in specOrders %}
				<Row>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.spec.specType.title }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.spec.title }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.date }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.comment }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.customer.title }}, {{ order.customer.phone }}, {{ order.customer.getImplodedAddressesForOrder(order.id, constant('specOrder::ORDER_TYPE')) }}</Data>
					</Cell>
					<Cell ss:StyleID="header">
						<Data ss:Type="String">{{ order.getStatusLabel(order.status) }}</Data>
					</Cell>
				</Row>
			{% endfor %}
		</Table>

		{{ include('/excel/excelFooter.twig') }}
	</Worksheet>
{% endblock %}
