{% extends 'excel/excelLayout.twig' %}

{% block content %}
	<Worksheet ss:Name="Таблица цемента">
		{% set colCount = 6 %}

		<Table>
			{# Ширины колонок #}
			{#{% for silage in citySilages[0]['silages'] %}#}
			{% set maxSilages = citySilages|length > 1? 4: citySilages|first['silages']|length %}
			{% for i in range(1, maxSilages) %}
				<ss:Column ss:Width="52"/> {# Ширина даты для каждого из силосов данного города #}
				<ss:Column ss:Width="51"/> {# Водитель #}
				<ss:Column ss:Width="40"/> {# Расход #}
				<ss:Column ss:Width="57"/> {# Накладные #}
				<ss:Column ss:Width="35"/> {# Левый #}
				<ss:Column ss:Width="25"/> {# Изменено #}
			{% endfor %}
			<ss:Column ss:Width="45"/> {# Ширина колонки "Всего в силосах" #}

			{% for city, citySilage in citySilages %}
				{% set cementsByDate = citySilage['cementsByDate'] %}
				{% set silages = citySilage['silages'] %}

				<Row>
					<Cell ss:StyleID="bold">
						<Data ss:Type="String">{{ city }}</Data>
					</Cell>
				</Row>
				<Row/>

				<Row>
					{% for silage in silages %}
						<Cell ss:StyleID="bold">
							<Data ss:Type="String">{{ silage }} силос</Data>
						</Cell>

						{% for i in range(1, colCount - 1) %}
							<Cell/>
						{% endfor %}
					{% endfor %}
				</Row>

				<Row ss:Height="27">
					{% for silage in silages %}
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Дата</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Водитель</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Расход</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Накладные</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Левый</Data>
						</Cell>
						<Cell/>
					{% endfor %}
				</Row>

				{% set outgo = 0 %}
				{% set overhead = 0 %}
				{% set fake = 0 %}

				{% for date, silageCements in cementsByDate %}
					{% set totalRemains = 0 %}

					<Row>
						{% for silage, cement in silageCements %}
							{% set cellClass = cement['highlight']? 'highlighted': 'borders' %}
							{% set outgo = outgo + cement['outgo'] %}
							{% set overhead = overhead + cement['overhead'] %}
							{% set fake = fake + cement['fake'] %}

							<Cell ss:StyleID="{{ cellClass }}">
								<Data ss:Type="String">{{ date }}</Data>
							</Cell>
							{% if cement|length != 0 %}
								<Cell ss:StyleID="{{ cellClass }}">
									<Data ss:Type="String">{{ cement['driver'] }}</Data>
								</Cell>
								<Cell ss:StyleID="{{ cellClass }}">
									<Data ss:Type="Number">{{ cement['outgo'] }}</Data>
								</Cell>
								<Cell ss:StyleID="{{ cellClass }}">
									<Data ss:Type="Number">{{ cement['overhead'] }}</Data>
								</Cell>
								<Cell ss:StyleID="{{ cellClass }}">
									<Data ss:Type="Number">{{ cement['fake']?: 0 }}</Data>
								</Cell>
								<Cell/>
							{% else %}
								{% for i in range(1, colCount - 1) %}
									<Cell/>
								{% endfor %}
							{% endif %}

							{% set totalRemains = totalRemains + cement['remains'] %}
						{% endfor %}
					</Row>
				{% endfor %}

			<Row/>
				<Row ss:Height="27">
				<Cell/>
				<Cell/>
				<Cell ss:StyleID="bold">
							<Data ss:Type="String">Расход</Data>
						</Cell>
						<Cell ss:StyleID="bold">
							<Data ss:Type="String">Накладные</Data>
						</Cell>
						<Cell ss:StyleID="bold">
							<Data ss:Type="String">Левый</Data>
						</Cell>
						<Cell/>
					{#{% endfor %}#}
				</Row>
				<Row>
					{#{% for silage, outgo in outgos %}#}
						<Cell ss:StyleID="borders">
							<Data ss:Type="String">Итого</Data>
						</Cell>
						<Cell/>
						<Cell ss:StyleID="borders">
							<Data ss:Type="Number">{{ outgo }}</Data>
						</Cell>
						<Cell ss:StyleID="borders">
							<Data ss:Type="Number">{{ overhead }}</Data>
						</Cell>
						<Cell ss:StyleID="borders">
							<Data ss:Type="Number">{{ fake }}</Data>
						</Cell>
						<Cell/>
					{#{% endfor %}#}
				</Row>

				<Row/>
				<Row/>
			{% endfor %}

		</Table>

		{{ include('/excel/excelFooter.twig') }}
	</Worksheet>
{% endblock %}
