{% extends 'excel/excelLayout.twig' %}

{% block content %}
	<Worksheet ss:Name="Таблица цемента">
		{% set colCount = 8 %}

		<Table>
			{# Ширины колонок #}
			{#{% for silage in citySilages[0]['silages'] %}#}
			{% set maxSilages = citySilages|length > 1? 4: citySilages|first['silages']|length %}
			{% for i in range(1, maxSilages) %}
				<ss:Column ss:Width="52"/> {# Ширина даты для каждого из силосов данного города #}
				<ss:Column ss:Width="51"/> {# Водитель #}
				<ss:Column ss:Width="40"/> {# Расход #}
				<ss:Column ss:Width="55"/> {# Накладные #}
				<ss:Column ss:Width="55"/> {# Левый #}
				<ss:Column ss:Width="61"/> {# Экономия #}
				<ss:Column ss:Width="43"/> {# Остаток #}
				<ss:Column ss:Width="25"/> {# Изменено #}
			{% endfor %}
			<ss:Column ss:Width="45"/> {# Ширина колонки "Всего в силосах" #}

			{% for city, citySilage in citySilages %}
				{% set cementsByDate = citySilage['cementsByDate'] %}
				{% set silages = citySilage['silages'] %}

				<Row>
					<Cell ss:StyleID="bold">
						<Data ss:Type="String">{{ city }}</Data>
					</Cell>
				</Row>
				<Row/>

				<Row>
					{% for silage in silages %}
						<Cell ss:StyleID="bold">
							<Data ss:Type="String">{{ silage }} силос</Data>
						</Cell>

						{% for i in range(1, colCount - 1) %}
							<Cell/>
						{% endfor %}
					{% endfor %}
				</Row>

				<Row ss:Height="27">
					{% for silage in silages %}
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Дата</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Водитель</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Расход</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Накладные</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Левый</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Экономия/ Перерасход</Data>
						</Cell>
						<Cell ss:StyleID="header">
							<Data ss:Type="String">Остаток</Data>
						</Cell>
						<Cell/>
						{% if loop.index == silages|length %}
							<Cell ss:StyleID="header">
								<Data ss:Type="String">Итого цемента</Data>
							</Cell>
						{% endif %}
					{% endfor %}
				</Row>

				{% for date, silageCements in cementsByDate %}
					{% set totalRemains = 0 %}

					<Row>
						{% for silage, cement in silageCements %}
							{% set cellClass = cement['highlight']? 'highlighted': 'borders' %}

							<Cell ss:StyleID="{{ cellClass }}">
								<Data ss:Type="String">{{ date }}</Data>
							</Cell>
							{% if cement|length != 0 %}
								<Cell ss:StyleID="{{ cellClass }}">
									<Data ss:Type="String">{{ cement['driver'] }}</Data>
								</Cell>
								<Cell ss:StyleID="{{ cellClass }}">
									<Data ss:Type="Number">{{ cement['outgo'] }}</Data>
								</Cell>
								<Cell ss:StyleID="{{ cellClass }}">
									<Data ss:Type="Number">{{ cement['overhead'] }}</Data>
								</Cell>
								<Cell ss:StyleID="{{ cellClass }}">
									<Data ss:Type="Number">{{ cement['fake']?: 0 }}</Data>
								</Cell>

								{%  set class = cement['difference'] > 0? 'blueText': (cement['difference'] < 0? 'redText': cellClass) %}
								<Cell ss:StyleID="{{ class }}">
									<Data ss:Type="Number">{{ cement['difference'] }}</Data>
								</Cell>

								<Cell ss:StyleID="{{ cellClass }}">
									<Data ss:Type="Number">{{ cement['remains'] }}</Data>
								</Cell>
								{% if cement['isUpdated'] %}
									<Cell ss:StyleID="bold"> {# <Cell ss:StyleID="{{ cement['highlight']? 'highlighted': 'bold' }}"> #}
										<Data ss:Type="String"></Data> {# Изменено {{ cement['updated'] }} #}
									</Cell>
								{% else %}
									<Cell/>
								{% endif %}
							{% else %}
								{% for i in range(1, colCount - 1) %}
									<Cell/>
								{% endfor %}
							{% endif %}

							{% set totalRemains = totalRemains + cement['remains'] %}
						{% endfor %}

						<Cell ss:StyleID="borders">
							<Data ss:Type="Number">{{ totalRemains }}</Data>
						</Cell>
					</Row>
				{% endfor %}

				<Row/>
				<Row/>
			{% endfor %}

		</Table>

		{{ include('/excel/excelFooter.twig') }}
	</Worksheet>
{% endblock %}
