<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:o="urn:schemas-microsoft-com:office:office"
		  xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
		  xmlns:html="http://www.w3.org/TR/REC-html40">
	<Styles>
		<Style ss:ID="bold">
			<Font ss:Bold="1"/>
		</Style>
		<Style ss:ID="borders">
			<Borders>
				<Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
			</Borders>
			<Font ss:Bold="0"/>
			</Style>
			<Style ss:ID="header">
			<Borders>
				<Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
			</Borders>
			<Font ss:Bold="0"/>
			<Alignment ss:Vertical="Center" ss:Horizontal="Center" ss:WrapText="1"/>
		</Style>
		<Style ss:ID="highlighted">
			<Interior ss:Color="#ffff00" ss:Pattern="Solid"/>
			<Borders>
				<Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
			</Borders>
		</Style>
		<Style ss:ID="redText">
			<Font ss:Color="#FF0000"/>
			<Borders>
				<Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
			</Borders>
		</Style>
		<Style ss:ID="blueText">
			<Font ss:Color="#0000FF"/>
			<Borders>
				<Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
			</Borders>
		</Style>
	</Styles>

	{{ block('content') }}
</Workbook>
