{% set htmlOptions = htmlOptions|default({}) %}
{% set error = form.error(model, field, {class: 'help-block'}) %}

<div class="checkbox{{ error? ' has-error': '' }}">
	<label>
		{{ form.checkBox(model, field, htmlOptions) }}
		{{ htmlOptions['label']|default(model.getAttributeLabel(field)) }}
	</label>
	{{ error }}
</div>

