{% set htmlOptions = {class: 'form-control'}|merge(htmlOptions|default({class: 'form-control'})) %}

<div class="form-group{{ error? ' has-error': '' }}">
	{#{{ form.labelEx(model, field) }}#}
	{{ form.dropDownList(model, field, dataList, htmlOptions) }}
</div>
