{% set htmlOptions = {placeholder: model.getAttributeLabel(field), class: 'form-control'}|merge(htmlOptions|default({})) %}

<div class="form-group{{ error? ' has-error': '' }}">
	{#{{ form.labelEx(model, field) }}#}
	{{ form.textArea(model, field, htmlOptions) }}
</div>
