{% set htmlOptions = {placeholder: model.getAttributeLabel(field), class: 'form-control'}|merge(htmlOptions|default({})) %}
{% set error = form.error(model, field, {class: 'help-block'}) %}

<div class="form-group{{ error? ' has-error': '' }}">
	{#{{ form.labelEx(model, field) }}#}
	{{ form.textField(model, field, htmlOptions) }}
	{{ error }}
</div>
