{% extends 'layouts/common.twig' %}

{% block content %}
	<h2 class="page-header">Создать нового пользователя</h2>

	{{ include('user/edit-form.twig', { formName: 'create-profile-form' }) }}
{% endblock %}
