{% extends 'layouts/common.twig' %}

{% block content %}
	<h2 class="page-header">{{ model.username }}</h2>
	{% set isAdmin = isAdmin ?: false %}

	{{ include('user/edit-form.twig', { formName: 'edit-profile-form', isAdmin: isAdmin }) }}
{% endblock %}

{% block scripts %}
	{{ include('common/notifier.twig', {flash: flash}) }}
{% endblock %}
