{% set form = this.beginWidget('CActiveForm', { id: formName, enableAjaxValidation: false }) %}
<div class="row">
	<div class="col-sm-4">
	{% if (isAdmin) %}
		{{ include('common/form/select.twig', { form: form, model: model, field: 'role',
		dataList: {
			user: 'Обычный пользователь',
			manager: 'Менеджер',
			admin: 'Администратор',
			logistician: 'Логист Владивосток',
			KhabCementManager: 'Менеджер по цементу Хабаровск',
			chiefmanager: 'Старший менеджер'
		} }) }}    {#, htmlOptions: {'user': {'selected': 'selected'} }#}
	{% endif %}

	{{ include('common/form/text.twig', { form: form, model: model, field: 'username' }) }}
	{{ include('common/form/text.twig', { form: form, model: model, field: 'realname' }) }}
	{{ include('common/form/text.twig', { form: form, model: model, field: 'email' }) }}
	{{ include('common/form/password.twig', { form: form, model: model, field: 'password' }) }}
	{{ include('common/form/password.twig', { form: form, model: model, field: 'confirmPassword' }) }}
	{{ include('common/form/textarea.twig', { form: form, model: model, field: 'description', htmlOptions: {'cols': 10} }) }}

	{{ include('common/form/submit.twig', { form: form, model: model, text: 'Сохранить',
	htmlAdditional: '&nbsp;<a class="btn" href="' ~ this.createUrl('user/index') ~ '">К списку</a>' }) }}
	</div>
</div>
{% do this.endWidget() %}
