{% extends 'layouts/common.twig' %}

{% block content %}
	<div class="form-group">
		<a class="btn btn-lg btn-success" href="{{ this.createUrl('users/create') }}">Создать нового пользователя</a>
	</div>

	<table class="table table-striped" style="max-width: 1000px;">
		<thead>
		<tr>
			<th style="width: 16%;">{{  model.getAttributeLabel('id') }}</th>
			<th>{{ model.getAttributeLabel('username') }}</th>
			<th>{{ model.getAttributeLabel('realname') }}</th>
			<th style="width: 20%;">{{ model.getAttributeLabel('email') }}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		{% for user in model.search().data %}
		<tr>
			<td>{{ user.id }}</td>
			<td><a href="{{ this.createUrl('edit', {'id': user.id}) }}">{{ user.username }}</a></td>
			<td>{{ user.realname }}</td>
			<td>{{ user.email }}</td>
			<td>
				<button class="btn btn-danger js-delete-row" data-url="{{ this.createUrl('ajax/deleteModel', {id: user.id, model: 'user'}) }}">удалить</button>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
