// required libs
@import "compass";
@import "normalize";
@import "mixins";

// -- autocomplete styles
.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}
// -- -- -- --

.header {

	&__user {
		padding: 15px 0;
	}

	&__nav {
		margin-bottom: 30px;
	}
}

.footer {
	height: 50px;
}

@each $i in (1, 2, 3, 4) {
	.pre-y-#{$i} {
		padding-top: #{$i}em;
	}

	.post-y-#{$i} {
		padding-bottom: #{$i}em;
	}
}

.t-C {
	text-align: center;
}

.order-table {
	input[type="checkbox"] {
		display: none;
	}

	.active {
		input[type="checkbox"] {
			display: inline-block;
		}
	}
}

.calendar-hide-time {
	.fc-time {
		display: none;
	}
}

.silage {
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 10px;

	&:first-child {
		margin-left: 0;
	}

	&__scale {
		width: 50px;
		height: 200px;
		position: relative;
//		display: inline-block;
		background: #f0ad4e;
		margin-bottom: 10px;
	}

	&__level {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		background: #337ab7;
	}

	&__separator {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.group-items {
	.btn {
		margin-bottom: 10px;
	}
}

.line-box {
	margin-left: -10px;

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 50px;
		margin-left: 10px;
		margin-bottom: 15px;
	}
}